.myborder{
    
    border-radius: 30px;
    background-color:#F0F0F0 ;
    color: #a4a400; 
    border: 3px solid #73ad21;
    text-align: center;
    
}

.mydiv{
    display: grid;   
}

@media all and (max-width:768px){
    .mytext{
        text-align: start;
    }

    .mydiv{
        grid-template-columns: 1;
    }
    
    .borderL{
        border-left: 2px none #a4a400;
    
    }
 


}


@media all and (min-width:768px){
    .borderLine1{
        border-right: 2px solid #a4a400;
    
    }
    .borderLine3{
        border-right: 2px solid #a4a400;
    
    }
   
    .mydiv{
        grid-template-columns: repeat(2, 1fr);
    }
    .mytext{
        text-align: center;
    }

    .borderL{
        border-left: 2px solid #a4a400;
    
    }
    
}




@media all and (min-width:1200px){
    .borderLine1{
        border-right: 2px solid #a4a400;
    }
    .borderLine2{
        border-right: 2px solid #a4a400;
    }
    .borderLine3{
        border-right: 2px none red;
    }
    .mydiv{
        grid-template-columns: repeat(2, 1fr);
        max-width: 1024px;
    }
   
    #targeea {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
body  {
    background-image: url("silverware.jpg");
  }

/* hr{
    text-align:center;
    margin: 0 auto;
} */

.borderLineH{
    border-bottom: 2px solid gray;
    max-width: 1024px;

}

.myil{
    list-style-image: url(fish_icon_24.png);
}



